#note {
  color: #fff;
  background-color: #000;
  opacity: 0.9;
  box-shadow: -3px 3px 6px #000;
  padding: 1em 1em 2em 1em;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  left: 0;}

#note .header + div {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 1);
  position: relative;
  text-align: center;
  top: 1px;
  color: #d7666b;
  padding:40px;
  margin: 300px;
  border: 1px solid #d7666b;
  
}

#note h2 {
  color: #C9464C;
  font-size:50px;
  padding-top: 25px;
  font-weight: bold;
  padding-bottom: 20px;}

#note a{
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  
}
#note a:hover{
	color: crimson;
	font-size:20px;
	transition:0.2s;
	font-weight: bolder;
}


#note .header {
  text-align: right;
  background-color: #000;
  border: none;
  padding: 0 0 30px 10px;
  font-size: 18px;
  font-weight: bold;
}

.shown {
  visibility: visible;}

.hidden {
  visibility: hidden;}


#stats {
  background-color: #6cc0ac;
  color: #ffffff; 
  position: fixed; 
  top: 0; 
  left: 0; 
  padding: 20px; 
  width: 100%;}

#stats input[type="text"] {
  width: 80px;
  margin: 0 10px 0 10px;
  background-color: #fff;
  border-color: #fff;}

#body #page {margin-top: 130px;}

.divider {
  margin: 0 40px; 
  border-left: 1px solid #fff; 
  border-right: 1px solid #fff; 
  color: #6cc0ac;}


/* Character Counter */
#charactersLeft {
  color: #fff;
  font-size: 24px;}
#lastKey {
  color: #fff;
  margin-top: 10px;}


/* Membership Options */
#packageHint, #termsHint {
  color: #fff;
  text-shadow: -1px 1px 2px #000;}

#terms {
  margin-top: 30px;}

/* Mutation */
#list, #list2 {
  margin-bottom: 10px;}
div.button {
  height: 65px;
  padding-right: 10px;}

input{
    
    border-radius:2em ;
	font-size: 30px;
	font-size: 30px;
	margin: auto;
	text-align: center;
}

img {
	text-align: center;
}
